@model PersonalFinanceTracker.SQL.Models.Expenses

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Expenses</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrencyCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrencyCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PaidVia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PaidVia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsExcludeTransaction)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsExcludeTransaction)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedDateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedDateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UpdatedDateTime)
        </dd>
    </dl>

    <form asp-action="Delete" asp-route-id="@Model.Id">
        @Html.AntiForgeryToken()
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
