<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PersonalFinanceTracker</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PersonalFinanceTracker.styles.css" asp-append-version="true" />

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/moment.min.js"></script>

    @* DateRange Picker *@
    <link rel="stylesheet" href="~/css/daterangepicker.3.14.1.css" />
    <script src="~/js/daterangepicker.3.14.1.min.js" defer></script>

    <script>
        var global = {
        };

        // Make user-specific data available globally in JavaScript
        window.userCurrencies = "@ViewData["UserCurrencies"]";
        console.log("User Currency: ", window.userCurrencies);
    </script>

    <script src="~/js/app/helper.js" defer></script>
    <script src="~/js/app/controller.js" defer></script>
    @* DataTable *@
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

    @* Font Awesome *@
    <script src="https://kit.fontawesome.com/421c46371b.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Personal Finance Tracker</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    @if (User.Identity?.IsAuthenticated == true)
                    {

                        <ul class="navbar-nav flex-grow-1 align-center">
                            @*  <li class="nav-item">
                        <a class="nav-link text-dark @Html.ActiveClass("/Home/Index")" asp-area="" asp-controller="Home" asp-action="Index">Overview</a>
                        </li> *@
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Income" asp-action="Index">Income</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Expense" asp-action="Index">Expense</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Bank" asp-action="Index">Bank</a>
                            </li>
                            
                            <li class="dropdown pull-right" style="padding-left:50px;">
                                <input class="styled-select" type="text" title="daterangepicker" id="dateRangePicker">
                            </li>
                        </ul>
                    }
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container-fluid">
            &copy; @DateTime.UtcNow.Year - PersonalFinanceTracker - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
